.home-content-container{
    display:grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    gap: 0.5rem;
    height: 90vh;
}

#renderer-container{
    grid-column-start: 2;
    grid-column-end: 2;
}
#editor-window-container{
    height: 100%;
}