.canvas-container {
    height: 95%;
    width: 100%;
}

.output-title-bar{
    display:flex;
    padding: 10px 10px;
    background-color: rgb(30, 191, 255);
    border-radius: 15px 15px 0px 0px;
    justify-content: space-between;
}