@font-face {
    font-family: 'DM Sans';
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
}
html, body {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient( skyblue);
}

button {
    display: flex;
    background-color: white;
    border: 0px;
    padding: 0.7rem;
    font-family: 'DM Sans', 'sans-serif';
    border-radius: 5px;
}

button:hover{
    filter: brightness(0.8);
    transition: 0.5s;
}

button:active{
    filter: brightness(0.6);
    transition: 0.2s;
}